openapi: 3.2.0
info:
  x-logo:
    url: https://chainstack.com/assets/docs/api-docs-logo.svg
    backgroundColor: '#F5F8FC'
    altText: Chainstack
  title: 💙 CHAINSTACK PLATFORM Project V2 API
  version: v2
  contact:
    name: API Support
    email: support@chainstack.com
  description: 'A set of API endpoints to operate and manage the platform resources.<br>

    See also a [quick API tutorial](https://docs.chainstack.com/reference/quick-tutorial).

    '
servers:
- url: https://api.chainstack.com
  description: API endpoint
tags:
- name: Project V2
paths:
  /v2/projects/:
    get:
      operationId: listAllProjectsV2
      summary: List all projects
      description: List all projects your organization is part of.
      parameters:
      - $ref: '#/components/parameters/ProjectOrdering'
      - $ref: '#/components/parameters/Pagination'
      - $ref: '#/components/parameters/OrganizationIdFilter'
      - $ref: '#/components/parameters/NameFilter'
      - $ref: '#/components/parameters/ProjectTypeFilter'
      tags:
      - Project V2
      security:
      - APIKeyAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/Project'
              examples:
                list:
                  value:
                    count: 1
                    next: null
                    previous: null
                    results:
                    - id: PR-123-456-789
                      name: My project
                      description: My project description
                      type: public
                      members: 0
                      networks: 1
                      creator:
                        id: UR-111-111-111
                        email: user@example.com
                        first_name: John
                        last_name: Smith
                        organization:
                          id: RG-123-456
                          name: My organization
                      created_at: '2023-01-01T00:00:00.000000Z'
          description: ''
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    post:
      operationId: createProjectV2
      summary: Create project
      description: Create a project.
      tags:
      - Project V2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
            examples:
              project:
                value:
                  name: My project
                  description: My project description
        required: true
      security:
      - APIKeyAuthentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                project:
                  value:
                    id: PR-123-456-789
                    name: My project
                    description: My project description
                    type: public
                    members: 0
                    networks: 0
                    creator:
                      id: UR-111-111-111
                      email: user@example.com
                      first_name: John
                      last_name: Smith
                      organization:
                        id: RG-123-456
                        name: My organization
                    created_at: '2023-01-01T00:00:00.000000Z'
          description: ''
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /v2/projects/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: retrieveProjectV2
      summary: Retrieve project
      description: Retrieve the project details.
      tags:
      - Project V2
      security:
      - APIKeyAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                project:
                  value:
                    id: PR-123-456-789
                    name: My project
                    description: My project description
                    type: public
                    members: 0
                    networks: 1
                    creator:
                      id: UR-111-111-111
                      email: user@example.com
                      first_name: John
                      last_name: Smith
                      organization:
                        id: RG-123-456
                        name: My organization
                    created_at: '2023-01-01T00:00:00.000000Z'
          description: ''
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateProjectV2
      summary: Update project
      description: Change project name and project description.
      tags:
      - Project V2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
            examples:
              project:
                value:
                  name: My updated project
                  description: Updated description
      security:
      - APIKeyAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                project:
                  value:
                    id: PR-123-456-789
                    name: My updated project
                    description: Updated description
                    type: public
                    members: 0
                    networks: 1
                    creator:
                      id: UR-111-111-111
                      email: user@example.com
                      first_name: John
                      last_name: Smith
                      organization:
                        id: RG-123-456
                        name: My organization
                    created_at: '2023-01-01T00:00:00.000000Z'
          description: ''
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteProjectV2
      summary: Delete project
      description: Delete the project.
      tags:
      - Project V2
      security:
      - APIKeyAuthentication: []
      responses:
        '204':
          description: No response body
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
components:
  schemas:
    ProjectTypeEnum:
      type: string
      description: 'Type of the project.

        <br>

        * `public` for public chain project

        '
      enum:
      - public
    Object:
      type: object
      description: Common object representation.
      readOnly: true
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    CreatedAt:
      type: string
      format: date-time
      readOnly: true
      description: When the object was created.
    Pagination:
      type: object
      properties:
        count:
          type: integer
          example: 123
          description: Number of the objects in the paginated results.
        next:
          type:
          - string
          - 'null'
          description: Link to the next page.
        previous:
          type:
          - string
          - 'null'
          description: Link to the previous page.
        results:
          type: array
          items:
            type: object
    ProjectCreate:
      allOf:
      - $ref: '#/components/schemas/BaseProject'
      - type: object
        required:
        - name
    Creator:
      type: object
      description: Creator of the object.
      readOnly: true
      properties:
        id:
          type: string
          readOnly: true
        email:
          type: string
          format: email
          readOnly: true
        first_name:
          type: string
          readOnly: true
        last_name:
          type: string
          readOnly: true
        organization:
          allOf:
          - $ref: '#/components/schemas/Object'
          description: Creator's organization.
    ProjectUpdate:
      allOf:
      - $ref: '#/components/schemas/BaseProject'
      - type: object
        properties:
          type:
            readOnly: true
    BaseProject:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          description: Name of the project.
        description:
          type: string
          description: Description of the project.
        type:
          allOf:
          - $ref: '#/components/schemas/ProjectTypeEnum'
          default: public
        members:
          type: integer
          readOnly: true
          description: 'Number of members invited to the consortium project.

            <br>Only for the `consortium` project.

            '
        networks:
          type: integer
          readOnly: true
          description: Number of networks created in the project.
        creator:
          allOf:
          - $ref: '#/components/schemas/Creator'
          readOnly: true
          description: Creator of the project.
        created_at:
          allOf:
          - $ref: '#/components/schemas/CreatedAt'
          description: When the project was created.
    Project:
      allOf:
      - $ref: '#/components/schemas/BaseProject'
  responses:
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: A string indicating the kind of error.
                  message:
                    type: string
                    description: A human-readable description of the error.
                  fields:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    description: Optional. Field-level validation errors.
    NotFoundError:
      description: Object does not exist or caller has insufficient permissions to access it.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: A string indicating the kind of error.
                  message:
                    type: string
                    description: A human-readable description of the error.
    UnauthorizedError:
      description: Authentication credentials were missing or incorrect.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: A string indicating the kind of error.
                  message:
                    type: string
                    description: A human-readable description of the error.
    ForbiddenError:
      description: The request is not allowed with the current permissions.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: A string indicating the kind of error.
                  message:
                    type: string
                    description: A human-readable description of the error.
  parameters:
    OrganizationIdFilter:
      name: organization
      required: false
      in: query
      description: Filter by organization ID.
      schema:
        type: string
    ProjectTypeFilter:
      name: type
      required: false
      in: query
      description: Filter by project type.
      schema:
        $ref: '#/components/schemas/ProjectTypeEnum'
    NameFilter:
      name: name
      required: false
      in: query
      description: Filter by name.
      schema:
        type: string
    Id:
      name: id
      in: path
      required: true
      description: A unique value identifying the Object.
      schema:
        type: string
    Pagination:
      name: page
      required: false
      in: query
      description: A page number within the paginated result set.
      schema:
        type: integer
    ProjectOrdering:
      name: order_by
      required: false
      in: query
      description: 'Which field to use when ordering the results.

        <br> Use the `-` prefix to perform descending ordering (`-name`).

        '
      schema:
        type: string
        enum:
        - name
        - created_at
  securitySchemes:
    APIKeyAuthentication:
      type: http
      scheme: bearer
      description: 'Chainstack API uses [API keys](https://docs.chainstack.com/reference/platform-api-getting-started) to authenticate requests. You can view and manage your API keys in the platform UI.

        Your API keys carry many privileges, so be sure to keep them secure!

        Provide your API key as the `Authorization` header. The value of the header consists of `Bearer` prefix and secret key generated through the platform UI.


        ```bash

        curl -X GET ''https://api.chainstack.com/v1/organization/'' \

        --header ''Authorization: Bearer FX7CWlLg.FMpAO8cgCX2N7s41EncRru2nb5CmTZUt''

        ```


        All API requests must be made over HTTPS.

        '
